<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link
      rel="stylesheet"
      href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/papercss@1.5.1/dist/paper.min.css"
    />
    <nav class="border split-nav">
      <ul class="inline">
        <li>
          <a href="/">Chat App</a>
        </li>

        <% if (!user) { %>
        <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <% } %> <% if (user) { %>
        <li>
          <a href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>

      <span class="badge success"> Welcome to Chat App</span>
    </nav>
  </head>

  <body>
    <div class="container ">
      <div class="row ">
        <div class="column column-50 column-offset-15 ">
          <label for="username">username</label>
          <input type="text" name="username" id="username" />
          <button id="send_username">Change username</button>

          <hr />
          <form id="chatform">
            <fieldset>
              <label for="chatroom">chatroom</label>
              <main
                id="chatroom"
                style="width: 50vw; height: 40vh; border: 3px dotted #ccc; overflow-y: scroll"
              ></main>
              <br />
              <br />
              <label for="message">message</label>
              <input type="text" name="message" id="message" />
              <button class="column" id="send_message" type="submit">
                Send
              </button>
              <hr />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
